.root {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
}

.title {
  font-weight: 900;
  font-size: rem(34px);
  margin-bottom: var(--mantine-spacing-md);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    font-size: rem(32px);
  }
}

.control {
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-md);
}

.mobileImage {
  @media (min-width: 48em) {
    display: none;
  }
}
